<div class="row">
    <div class="col">
        <img
            src="https://via.placeholder.com/400x200"
            class="img-fluid"
            alt=""
        />
    </div>
</div>
<div class="row">
    <div class="col">
        <h1>Recipe name</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="dropdown">
            <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Manage
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">To shopping list</a></li>
                <li><a class="dropdown-item" href="#">Edit recipe</a></li>
                <li>
                    <a class="dropdown-item" href="#">Delete recipe</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">description</div>
</div>

<div class="row">
    <div class="col">ingredients</div>
</div>
