<div class="row">
    <div class="col">
        <form>
            <div class="mb-3">
                <label for="input-name" class="form-label">Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="input-name"
                    placeholder=""
                />
            </div>
            <div class="mb-3">
                <label for="input-amount" class="form-label">Amount</label>
                <input
                    type="number"
                    min="1"
                    class="form-control"
                    id="input-amount"
                    placeholder=""
                />
            </div>
            <div>
                <button type="button" class="btn me-2 btn-primary">Add</button>
                <button type="button" class="btn me-2 btn-outline-secondary">
                    Clear
                </button>
                <button type="button" class="btn me-2 btn-outline-danger">
                    Delete
                </button>
            </div>
        </form>
    </div>
</div>
